@import "tailwindcss";

:root {
  /* TYPOGRAPHY */
  --base-font-size: 12px;
  --fluid-modifier: 0.9;
  --heading-modifier: 1.1;

  /* Calculate a fluid rem size */
  --fluid-rem: calc(var(--base-font-size) + var(--fluid-modifier) * 1vw);

  --my-line-height-body: 1.75;
  --my-line-height-heading: 1.2;

  --vesper: hsla(259, 47%, 20%, 1);
  --vesper60: hsla(259, 48%, 20%, 0.6);
  --lumo: hsla(180, 44%, 84%, 1);
  --aether: hsla(176, 69%, 61%, 1);
  --aether60: hsla(176, 69%, 61%, 0.6);
  --kinetic: rgb(87, 224, 215);
  --kinetic30: hsla(3, 98%, 67%, 0.1);
  --kinetic60: hsla(3, 98%, 67%, 0.6);
  --solar: hsla(29, 100%, 69%, 1);
  --exhilarate: hsla(346, 98%, 67%, 1);
  /* --background: #ffffff; */
  --background: var(--vesper);
  /* --foreground: #171717; */
  --foreground: var(--lumo);

  /* set document font-size to fluid rem, now 1rem scales with viewport
	font-size: var(--fluid-rem); */

  /* TEXT GLOW */
  --glow-color: ;

  --x: 0px;
  --y: 0px;
  --blur: 3px;
  --text-glow: var(--glow-color, inherit) var(--x, 0) var(--y, 0)
    var(--blur, 3px);

  /* BG GRADIENT STYLING */
  --terminal-gradient: linear-gradient(
    to bottom,
    var(--kinetic30) 0%,
    var(--vesper60) 30%,
    var(--vesper60) 70%,
    var(--kinetic30) 100%
  );

  /* SCANLINES EFFECT */
  --line-color: hsla(0, 100%, 0%, 0.15);
  --scanlines: repeating-linear-gradient(
    0deg,
    var(--line-color),
    var(--line-color) 1px,
    transparent 1px,
    transparent 2px
  );
}

/* stylelint-disable-next-line */
@theme {
  --color-solar: var(--solar);
  --color-exhilarate: var(--exhilarate);
  --color-vesper: var(--vesper);
  --color-lumo: var(--lumo);
  --color-aether: var(--aether);
  --color-kinetic: var(--kinetic);
}

@theme inline {
  --default-font-family: "Jura", sans-serif;
  --font-family-heading: "Orbitron", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    font-family: var(--font-family-sans);
    /* Add in bg color and text color */
    background-color: var(--color-background);
    color: var(--color-foreground);
    min-height: 100lvw;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--aether);
    font-family: var(--font-family-heading);
    line-height: var(--my-line-height-heading);
  }

  html {
    font-size: var(--fluid-rem);
    /* Bahahaha this makes the emojis glow too, but I'm here for it */
    text-shadow: var(--text-glow);
  }

  body {
    position: relative;
    background: var(--background);
    color: var(--foreground);
  }

  body::before {
    overflow: hidden;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
      repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 4.85rem,
        rgba(0, 200, 180, 0.1) 5rem,
        rgba(0, 0, 0, 0) 5.15rem
      ),
      repeating-linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 4.85rem,
        rgba(0, 200, 180, 0.1) 5rem,
        rgba(0, 0, 0, 0) 5.15rem
      );
    background:
      repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 4.85rem,
        rgba(0, 200, 180, 0.1) 5rem,
        rgba(0, 0, 0, 0) 5.15rem
      ),
      repeating-linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 4.85rem,
        rgba(0, 200, 180, 0.1) 5rem,
        rgba(0, 0, 0, 0) 5.15rem
      );
    z-index: -1;
  }

  main {
    /* Doing this in case I dislike the affect of setting this line-height at a higher scope and messing up <nav> stuff. Might not be necessary, we'll see */
    line-height: var(--my-line-height);
  }

  .terminal-gradient-background {
    background: var(--terminal-gradient);
  }

  /* This is all so chaotic, but I just want it inside the theming for now */
  .blur-pane::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: -1;
  }

  .scanlines::after {
    position: absolute;
    content: "";
    /* display: none; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--scanlines);
    /* background: red; */
    pointer-events: none;
  }

  .nav-shudder a:hover {
    animation: alphaShudder 1.6s infinite;
  }

  .alpha-shudder {
    /* animation: alphaShudder 1.6s infinite, alphaBoxShudder 1.6s infinite; */
    animation:
      alphaShudder 1.6s infinite,
      alphaBoxShudder 1.6s infinite;
  }
}

@media (prefers-color-scheme: dark) {
  /* That's right, jerks, it doesn't matter if you prefer light or dark-- IT'S ALL THE SAME
  ( yes, this is simply because I don't feel like testing both of them at the moment and I always default to dark mode, so it gets priority for now)
  */

  :root {
    --background: var(--vesper);
    --foreground: var(--lumo);
  }
}

@keyframes alphaShudder {
  0% {
    text-shadow:
      0.4389924193300864px 0 1px var(--aether60),
      -0.4389924193300864px 0 1px var(--kinetic60),
      0 0 3px;
  }
  5% {
    text-shadow:
      2.7928974010788217px 0 1px var(--aether60),
      -2.7928974010788217px 0 1px var(--kinetic60),
      0 0 3px;
  }
  10% {
    text-shadow:
      0.02956275843481219px 0 1px var(--aether60),
      -0.02956275843481219px 0 1px var(--kinetic60),
      0 0 3px;
  }
  15% {
    text-shadow:
      0.40218538552878136px 0 1px var(--aether60),
      -0.40218538552878136px 0 1px var(--kinetic60),
      0 0 3px;
  }
  20% {
    text-shadow:
      3.4794037899852017px 0 1px var(--aether60),
      -3.4794037899852017px 0 1px var(--kinetic60),
      0 0 3px;
  }
  25% {
    text-shadow:
      1.6125630401149584px 0 1px var(--aether60),
      -1.6125630401149584px 0 1px var(--kinetic60),
      0 0 3px;
  }
  30% {
    text-shadow:
      0.7015590085143956px 0 1px var(--aether60),
      -0.7015590085143956px 0 1px var(--kinetic60),
      0 0 3px;
  }
  35% {
    text-shadow:
      3.896914047650351px 0 1px var(--aether60),
      -3.896914047650351px 0 1px var(--kinetic60),
      0 0 3px;
  }
  40% {
    text-shadow:
      3.870905614848819px 0 1px var(--aether60),
      -3.870905614848819px 0 1px var(--kinetic60),
      0 0 3px;
  }
  45% {
    text-shadow:
      2.231056963361899px 0 1px var(--aether60),
      -2.231056963361899px 0 1px var(--kinetic60),
      0 0 3px;
  }
  50% {
    text-shadow:
      0.08084290417898504px 0 1px var(--aether60),
      -0.08084290417898504px 0 1px var(--kinetic60),
      0 0 3px;
  }
  55% {
    text-shadow:
      2.3758461067427543px 0 1px var(--aether60),
      -2.3758461067427543px 0 1px var(--kinetic60),
      0 0 3px;
  }
  60% {
    text-shadow:
      2.202193051050636px 0 1px var(--aether60),
      -2.202193051050636px 0 1px var(--kinetic60),
      0 0 3px;
  }
  65% {
    text-shadow:
      2.8638780614874975px 0 1px var(--aether60),
      -2.8638780614874975px 0 1px var(--kinetic60),
      0 0 3px;
  }
  70% {
    text-shadow:
      0.48874025155497314px 0 1px var(--aether60),
      -0.48874025155497314px 0 1px var(--kinetic60),
      0 0 3px;
  }
  75% {
    text-shadow:
      1.8948491305757957px 0 1px var(--aether60),
      -1.8948491305757957px 0 1px var(--kinetic60),
      0 0 3px;
  }
  80% {
    text-shadow:
      0.0833037308038857px 0 1px var(--aether60),
      -0.0833037308038857px 0 1px var(--kinetic60),
      0 0 3px;
  }
  85% {
    text-shadow:
      0.09769827255241735px 0 1px var(--aether60),
      -0.09769827255241735px 0 1px var(--kinetic60),
      0 0 3px;
  }
  90% {
    text-shadow:
      3.443339761481782px 0 1px var(--aether60),
      -3.443339761481782px 0 1px var(--kinetic60),
      0 0 3px;
  }
  95% {
    text-shadow:
      2.1841838852799786px 0 1px var(--aether60),
      -2.1841838852799786px 0 1px var(--kinetic60),
      0 0 3px;
  }
  100% {
    text-shadow:
      2.6208764473832513px 0 1px var(--aether60),
      -2.6208764473832513px 0 1px var(--kinetic60),
      0 0 3px;
  }
}
